* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 120px;
  height: 120px;
  background-color: aqua;
  animation: anime 7s infinite linear;
  border-radius: 20px;
}

@keyframes anime {
  0% {
    transform: translate(0, 0);
    background-color: aqua;
  }
  25% {
    transform: translate(500px, 0px);
    background-color: orange;
  }
  50% {
    background-color: red;
    transform: translate(500px, 500px);
  }
  75% {
    background-color: black;
    transform: translate(0px, 500px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
